tr.placeholder {
    height: 20px;
    border: 0;
}

.panel .widget-comments-item {
    padding-left: 20px;
}

.widget-comments-item {
    padding: 12px 15px 12px 0px;
}

.widget-timeline-icon {
    cursor: pointer;
}

.widget-timeline-info {
    position: absolute;
    left: 0;
    width: 84px;
    text-align: center;
}

.text-strike {
    text-decoration: line-through;
}

.page-signin-header {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05), 0 1px 0 rgba(0, 0, 0, .05);
}

.page-signin-header .btn {
    position: absolute;
    top: 12px;
    right: 15px;
}

html[dir="rtl"] .page-signin-header .btn {
    right: auto;
    left: 15px;
}

.page-signin-container {
    width: auto;
    margin: 30px 10px;
}

.page-signin-container form {
    border: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05), 0 1px 0 rgba(0, 0, 0, .05);
}

@media (min-width: 544px) {
    .page-signin-container {
        width: 350px;
        margin: 60px auto;
    }
}

.page-signin-social-btn {
    width: 40px;
    padding: 0;
    line-height: 40px;
    text-align: center;
    border: none !important;
}

#page-signin-forgot-form {
    display: none;
}

.bg-white {
    background-color: #fff;
}

.ui-sortable-helper {
    display: table;
}

.label-ribbon.right {
    right: 0px;
    padding-right: 12px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.widget-notifications-controls {
    float: right;
    margin-top: -30px;
}

.selected {
    background: #fffaf3;
    border-color: #c9ba9b;
    color: #8d7955;
}

.bootstrap .tags {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap .tags.focused {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.bootstrap .tags .tag-item {
    background: #428bca;
    border: 1px solid #357ebd;
    border-radius: 2px;
    color: #fff;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
}

.bootstrap .tags .tag-item.selected {
    background: #d9534f;
    border: 1px solid #d43f3a;
    border-radius: 4px;
    color: #fff;
}

.bootstrap .tags .tag-item button {
    background: transparent;
    color: #000;
    opacity: .4;
}

tags-input .tags {
    padding: 4px;
}

tags-input .tags .input {
    border: 0;
    outline: 0;
    margin: 2px;
    padding: 0 0 0 5px;
    float: left;
    height: 24px;
    margin: 0 0 0px!important;
}

tags-input .host {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
}

tags-input .tag-item {
    line-height: 19px;
    display: block;
    float: left;
    font-size: 11px;
}

tags-input .tags .tag-item {
    margin: 2px;
    padding: 0 5px;
    display: inline-block;
    height: 19px;
    font-size: 11px;
    line-height: 19px;
    border: 1px solid #acacac;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, #f0f9ff 0, #cbebff 47%, #a1dbff 100%);
    background: linear-gradient(to bottom, #f0f9ff 0, #cbebff 47%, #a1dbff 100%);
}

tags-input .tags .tag-item .remove-button {
    color: #fff;
}

.label.tag {
    margin-right: 4px;
}

button.tag {
    margin-right: 6px;
    margin-top: 6px;
}

.tooltip-inner {
    max-width: 400px;
}

.widget-comments-header {
    margin-bottom: 0px;
}

.widget-comments-footer {
    margin-top: 0px;
}

.panel .widget-comments-item.request {
    padding-left: 67px;
    padding: 12px 15px 12px 62px;
    font-size: 11px;
}

.request .widget-comments-avatar {
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
    color: #a1a7ab;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}