<div ng-controller="PurchasePriorityCtrl as priority">
    <div class="alert alert-success" ng-show="priority.showCreatedAlert == true">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Recurring task created!</strong> The recurring task has been created.
    </div>
    <div class="alert alert-success" ng-show="priority.showUpdatedAlert == true">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Recurring task saved!</strong> The recurring task has been updated.
    </div>
    <div class="alert alert-danger" ng-show="priority.hasError == true">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Something went wrong</strong> There was an error. Please check the AWS CloudWatch logs.
    </div>
    <div class="page-header m-b-3">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <span class="text-muted font-weight-light">Annual Equipment Request/ </span>Purchase Priority</h1>
            </div>
            <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel box">
                <div class="box-row">
                    <div class="box-cell col-sm-3 p-a-3 valign-middle bg-primary">
                        <span class="font-size-16 font-weight-bold">Budget Details</span>
                        <br>
                        <span class="font-size-12">Allocations, funding sources, and balances
                        </span>
                    </div>
                    <div class="box-cell col-sm-3 p-x-3 p-y-1 b-r-1">
                        <span class="text-muted">Total Prioritized Tags</span>
                        <br>
                        <button type="button" class="btn btn-primary btn-xs tag" ng-repeat="tag in priority.prioritizedTags track by $index">
                            <span class="btn-label right">{{ tag.total | currency }}</span>{{ tag.text }}
                        </button>
                    </div>
                    <div class="box-cell col-sm-6" ng-class="{ 'form-loading' : !priority.ready }">
                        <div class="box-container">
                            <div class="box-row">
                                <div class="box-container">
                                    <div class="box-cell p-x-3 p-y-1 b-r-1 b-b-1">
                                        <span class="text-muted">Total Requested</span>
                                        <br>
                                        <span class="font-size-16">
                                            <strong>{{ priority.totalRequestedCost | currency }}</strong>
                                        </span>
                                    </div>
                                    <div class="box-cell p-x-3 p-y-1 b-b-1">
                                        <span class="text-muted">Allocated</span>
                                        <br>
                                        <span class="font-size-16">
                                            <span class="">
                                                <strong>{{ priority.allocatedBudget | currency }}</strong>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-row">
                                <div class="box-cell">
                                    <div class="box-container">
                                        <div class="box-cell p-x-3 p-y-1 b-r-1">
                                            <span class="text-muted">Total Prioritized</span>
                                            <br>
                                            <span class="font-size-16">
                                                <strong>{{ priority.totalPrioritizedCost | currency }}</strong>
                                            </span>
                                        </div>
                                        <div class="box-cell p-x-3 p-y-1 ">
                                            <span class="text-muted">Balance</span>
                                            <br>
                                            <span class="font-size-16">
                                                <span class="text-success">
                                                    <strong>{{ priority.balance | currency }}</strong>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info" ng-class="{ 'form-loading' : !priority.ready }">
                <div class="panel-heading">
                    <span class="panel-title">Submitted Requests</span>
                    <div class="panel-heading-controls">
                        <span class="panel-heading-text">{{ priority.requests.length}} requests</span>
                    </div>
                </div>
                <div class="widget-comments-item" ng-show="priority.requests.length == 0"></div>
                <div class="widget-comments-item request" ng-repeat="r in priority.requests" ng-click="priority.setSelected(r.id)" ng-class="{ selected: r.id === priority.selected}">
                    <div class="widget-comments-avatar">
                        {{ $index + 1 }}
                    </div>

                    <div class="widget-comments-header">
                        <strong>
                            <a target="_blank" href ui-sref="requests.view({ id: r.id })">{{ r.description }}</a>
                        </strong>
                    </div>

                    <div class="widget-comments-text">
                        <strong>{{ r.cost * r.quantity | currency }}</strong> - {{ r.quantity }} requested @ {{ r.cost | currency
                        }} per unit
                    </div>

                    <div class="widget-comments-footer">
                        <strong>{{ r.createdBy.replace('@ucr.edu', '') }}</strong> requested for
                        <strong>{{ r.department.code }} ({{ r.location }})</strong>
                        <div class="pull-right">
                            <button class="btn btn-xs btn-success" ng-click="priority.toPrioritized($index)">Prioritize</button>
                            <button class="btn btn-xs btn-danger" ng-click="priority.toDenied($index)">Needs Review</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-success" ng-class="{ 'form-loading' : !priority.ready }">
                <div class="panel-heading">
                    <span class="panel-title">Prioritized Requests</span>
                    <div class="panel-heading-controls">
                        <span class="panel-heading-text">{{ priority.prioritized.length}} requests</span>
                    </div>
                </div>
                <div class="widget-comments-item" ng-show="priority.prioritized.length == 0"></div>
                <span ui-sortable="priority.sortableOptions" ng-model="priority.prioritized">
                    <div class="widget-comments-item request" ng-repeat="r in priority.prioritized" ng-click="priority.setSelected(r.id)" ng-class="{ selected: r.id === priority.selected }">
                        <div class="widget-comments-avatar font-size-16">
                            <span>{{ $index + 1 }}
                                <br>
                                <span class="text-warning">{{ r.requesterPriority > 0 ? r.requesterPriority : 1 }}</span>&nbsp;
                        </div>

                        <div class="widget-comments-header">
                            <strong>
                                <a target="_blank" href ui-sref="requests.view({ id: r.id })">{{ r.description }}</a>
                            </strong>
                        </div>

                        <div class="widget-comments-text">
                            <strong>{{ r.cost * r.quantity | currency }}</strong> - {{ r.quantity }} requested @ {{ r.cost | currency
                            }} per unit
                        </div>

                        <div class="widget-comments-footer">
                            <strong>{{ r.createdBy.replace('@ucr.edu', '') }}</strong> requested for
                            <strong>{{ r.department.code }} ({{ r.location }})</strong>
                            <div class="pull-right">
                                <button class="btn btn-xs btn-default" ng-click="priority.toSubmitted($index, priority.prioritized)">
                                    <i class="ion-arrow-return-left"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    </span>
            </div>

            <div class="panel panel-danger" ng-class="{ 'form-loading' : !priority.ready }">
                <div class="panel-heading">
                    <span class="panel-title">Needs Review</span>
                    <div class="panel-heading-controls">
                        <span class="panel-heading-text">{{ priority.denied.length}} requests</span>
                    </div>
                </div>
                <div>
                    <div class="widget-comments-item" ng-show="priority.denied.length == 0"></div>
                    <div class="widget-comments-item request" ng-repeat="r in priority.denied" ng-click="priority.setSelected(r.id)" ng-class="{ selected: r.id === priority.selected}">
                        <div class="widget-comments-avatar font-size-16">
                            <span>{{ $index + 1 }}
                                <br>
                                <span class="text-warning">{{ r.requesterPriority > 0 ? r.requesterPriority : 1 }}</span>&nbsp;
                        </div>

                        <div class="widget-comments-header">
                            <strong>
                                <a target="_blank" href ui-sref="requests.view({ id: r.id })">{{ r.description }}</a>
                            </strong>
                        </div>

                        <div class="widget-comments-text">
                            <strong>{{ r.cost * r.quantity | currency }}</strong> - {{ r.quantity }} requested @ {{ r.cost | currency
                            }} per unit
                        </div>

                        <div class="widget-comments-footer">
                            <strong>{{ r.createdBy.replace('@ucr.edu', '') }}</strong> requested for
                            <strong>{{ r.department.code }} ({{ r.location }})</strong>
                            <div class="pull-right">
                                <button class="btn btn-xs btn-default" ng-click="priority.toSubmitted($index, priority.denied)">
                                    <i class="ion-arrow-return-left"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>
</div>