<div ng-controller="PurchasePriorityCtrl as priority">
    <div class="alert alert-success" ng-show="priority.showCreatedAlert == true">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Recurring task created!</strong> The recurring task has been created.
    </div>
    <div class="alert alert-success" ng-show="priority.showUpdatedAlert == true">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Recurring task saved!</strong> The recurring task has been updated.
    </div>
    <div class="alert alert-danger" ng-show="priority.hasError == true">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Something went wrong</strong> There was an error. Please check the AWS CloudWatch logs.
    </div>
    <div class="page-header m-b-3">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <span class="text-muted font-weight-light">Annual Equipment Request/ </span>Purchase Priority</h1>
            </div>
            <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel box">
                <div class="box-row">
                    <div class="box-cell col-sm-3 p-a-3 valign-middle bg-info">
                        <span class="font-size-16 font-weight-bold">Budget Details</span>
                        <br>
                        <span class="font-size-12">Allocations, funding sources, and balances
                        </span>
                    </div>
                    <div class="box-cell col-sm-8">
                        <div class="box-container">
                            <div class="box-row">
                                <div class="box-container">
                                    <div class="box-cell p-x-3 p-y-1 b-r-1 b-b-1">
                                        <span class="text-muted">Total Requested</span>
                                        <br>
                                        <span class="font-size-16">
                                            <strong>{{ priority.totalRequestedCost | currency }}</strong>
                                        </span>
                                    </div>
                                    <div class="box-cell p-x-3 p-y-1 b-b-1">
                                        <span class="text-muted">Allocated</span>
                                        <br>
                                        <span class="font-size-16">
                                            <span class="">
                                                <strong>{{ priority.allocatedBudget | currency }}</strong>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-row">
                                <div class="box-cell">
                                    <div class="box-container">
                                        <div class="box-cell p-x-3 p-y-1 b-r-1">
                                            <span class="text-muted">Total Prioritized</span>
                                            <br>
                                            <span class="font-size-16">
                                                <strong>{{ priority.totalPrioritizedCost | currency }}</strong>
                                            </span>
                                        </div>
                                        <div class="box-cell p-x-3 p-y-1 ">
                                            <span class="text-muted">Balance</span>
                                            <br>
                                            <span class="font-size-16">
                                                <span class="text-success">
                                                    <strong>{{ priority.balance | currency }}</strong>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Submitted Requests</div>
                </div>
                <div class="widget-notifications-item" ng-show="priority.requests.length == 0">
                </div>
                <div class="widget-notifications-item" ng-repeat="r in priority.requests" ng-click="priority.setSelected(r.id)" ng-class="{ selected: r.id === priority.selected}">
                    <div class="widget-notifications-title text-info">
                        <a target="_blank" href ui-sref="requests.view({ id: r.id })" uib-tooltip="{{ r.justification }}" tooltip-placement="right">{{ r.description }}</a>
                    </div>
                    <div class="widget-notifications-description">
                        <strong>{{ r.cost * r.quantity | currency }}</strong> - {{ r.quantity }} requested @ {{ r.cost | currency
                        }} per unit</div>
                    <div class="widget-notifications-date">{{ r.createdBy }} requested for {{ r.location }}</div>
                    <div class="widget-notifications-controls">
                        <button class="btn btn-xs btn-success" ng-click="priority.toPrioritized($index)">Prioritize</button>
                        <button class="btn btn-xs btn-danger" ng-click="priority.toDenied($index)">Deny</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">Prioritized Requests</div>
                </div>
                <div class="widget-notifications-item" ng-show="priority.prioritized.length == 0">
                </div>
                <span ui-sortable="requests.sortableOptions" ng-model="priority.prioritized">
                    <div class="widget-notifications-item" ng-repeat="r in priority.prioritized" ng-click="priority.setSelected(r.id)" ng-class="{ selected: r.id === priority.selected }">
                        <div class="widget-notifications-title text-info">
                            <a target="_blank" href ui-sref="requests.view({ id: r.id })" uib-tooltip="{{ r.justification }}" tooltip-placement="right">{{ r.description }}</a>
                        </div>
                        <div class="widget-notifications-description">
                            <strong>{{ r.cost * r.quantity | currency }}</strong> - {{ r.quantity }} requested @ {{ r.cost | currency
                            }} per unit</div>
                        <div class="widget-notifications-date">{{ r.createdBy }} requested for {{ r.location }}</div>
                        <div class="widget-notifications-controls">
                            <button class="btn btn-xs btn-default" ng-click="priority.toSubmitted($index, priority.prioritized)">
                                <i class="ion-arrow-return-left"></i>
                            </button>
                        </div>
                    </div>
                </span>
            </div>

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="panel-title">Denied Requests</div>
                </div>
                <div>
                    <div class="widget-notifications-item" ng-show="priority.denied.length == 0">
                    </div>
                    <span ui-sortable="requests.sortableOptions" ng-model="priority.denied">
                        <div class="widget-notifications-item" ng-repeat="r in priority.denied" ng-click="priority.setSelected(r.id)" ng-class="{ selected: r.id === priority.selected}">
                            <div class="widget-notifications-title text-info">
                                <a href="">{{ r.description }}</a>
                            </div>
                            <div class="widget-notifications-description">
                                <strong>{{ r.cost * r.quantity | currency }}</strong> - {{ r.quantity }} requested @ {{ r.cost |
                                currency }} per unit</div>
                            <div class="widget-notifications-date">{{ r.createdBy }}</div>
                            <div class="widget-notifications-controls">
                                <button class="btn btn-xs btn-default" ng-click="priority.toSubmitted($index, priority.denied)">
                                    <i class="ion-arrow-return-left"></i>
                                </button>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>
</div>