<div class="page-header m-b-0">
  <h1>
    <span class="text-muted font-weight-light">Request / </span>Submitted</h1>
</div>
<hr class="page-wide-block m-t-0">
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-title">Annual Equipment Request Submitted</div>
      <hr>
      <div class="panel-body">
        <p class="text-success font-weight-bold font-size-14">
          <i class="ion-happy-outline"></i>&nbsp;Success!</p>
        <p>Your request has been submitted and is under review by the Library leadership team.</p>
        <p>For reference your request ID is
          <strong></strong>
        </p>
        <p>To check on the status of your request, please click the Annual Equipment link in the sidebar to the left.</p>
        <a ui-sref="requests.create-annual-equipment-request" class="btn btn-primary pull-right">Create another request</a>
      </div>
    </div>
  </div>
</div>