<div class="page-header m-b-0">
  <h1>
    <span class="text-muted font-weight-light">Request / </span>Submitted</h1>
</div>
<hr class="page-wide-block m-t-0">
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-title">Annual Equipment Request</div>
      <small class="panel-subtitle text-muted">Annual Equipment Requests are used to submit requests for annual equipment and furniture purchases. These requests
        are reviewed, prioritized, and approved by the Library AULs and UL. You can check on the status of an existing requestby
        clicking Annual Equipment in the sidebar to the left.</small>
        <hr>
        <div class="panel-body">
          <p class="text-success font-weight-bold font-size-14"><i class="ion-happy-outline"></i>&nbsp;Success!</p>
          <p>Your request has been submitted and is under review by the Library leadership team.</p>
          <p>For reference your request ID is <strong>4667</strong></p>
          <p>To check on the status of your request, please click the Annual Equipment link in the sidebar to the left.</p>
        </div>
    </div>
  </div>
</div>