<div class="page-header m-b-0">
  <h1><span class="text-muted font-weight-light">Request / </span>Create a new request</h1>
</div>
<div class="page-wide-block p-a-4 bg-white font-size-15">
  <p>
    Submit UCR Library requests for travel, supplies and other purchases, and annual equipment.
  </p>
</div>

<hr class="page-wide-block m-t-0">

<div class="row">
  <div class="col-md-3">
      <div class="panel">
          <div class="panel-title">Travel</div>
          <small class="panel-subtitle text-muted">Submit reimbursement requests for travel to conferences, training, and other events.</small>
          <img class="panel-img" data-src="holder.js/100px180?theme=social" alt="100%x180" style="width: 100%; display: block;" src="images/travel.jpg" data-holder-rendered="true">
          <div class="panel-body">
            <a class="btn btn-primary btn-block disabled">Start Request</a>
          </div>
        </div>
  </div>

  <div class="col-md-3">
      <div class="panel">
          <div class="panel-title">Purchase</div>
          <small class="panel-subtitle text-muted">Submit purchase requests for supplies and other department necessities.</small>
          <img class="panel-img" data-src="holder.js/100px180?theme=social" alt="100%x180" style="width: 100%; display: block;" src="images/paperclip.jpg" data-holder-rendered="true">
          <div class="panel-body">
            <a class="btn btn-primary btn-block disabled">Start Request</a>
        </div>
        </div>
  </div>

  <div class="col-md-3">
      <div class="panel">
          <div class="panel-title">Annual Equipment</div>
          <small class="panel-subtitle text-muted">Submit requests for department annual purchases including technology and furniture. </small>
          <img class="panel-img" data-src="holder.js/100px180?theme=social" alt="100%x180" style="width: 100%; display: block;" src="images/equipment.jpg" data-holder-rendered="true">
          <div class="panel-body">
            <a ui-sref="pages.create-annual-equipment-request" class="btn btn-primary btn-block">Start Request</a>
        </div>
        </div>
  </div>
</div>