<div ng-controller="RequestCtrl as request">
    <div class="alert alert-danger" ng-show="request.hasError == true">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Something went wrong</strong> There was an error. Please check the AWS CloudWatch logs.
    </div>

    <div class="page-header" ng-hide="request.hasError">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <span class="text-muted font-weight-light">
                        <a href="#" ui-sref="requests.annual-equipment">Requests</a> / </span>Edit
                </h1>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="request.hasError">
        <form name="requestForm" ng-submit="request.update(requestForm.$valid)" novalidate="novalidate">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Annual Equipment Request</span>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Description</label>
                                <input type="text" ng-model="request.request.description" class="form-control">
                            </fieldset>
                        </div>
                        <div class="col-md-3">
                            <fieldset class="form-group">
                                <label>Quantity</label>
                                <input type="number" ng-model="request.request.quantity" class="form-control">
                            </fieldset>
                        </div>
                        <div class="col-md-3">
                            <fieldset class="form-group">
                                <label>Unit Cost</label>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" class="form-control" ng-model="request.request.cost">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-3">
                            <fieldset class="form-group">
                                <label>Vendor</label>
                                <input type="text" ng-model="request.request.vendor" class="form-control">
                            </fieldset>
                        </div>
                        <div class="col-md-3">
                            <fieldset class="form-group">
                                <label>Link</label>
                                <input type="text" ng-model="request.request.link" class="form-control">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Justification</label>
                                <textarea class="form-control" ng-model="request.request.justification" rows="4"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <label>Department</label>
                                <select ng-model="request.request.department" ng-options="x.description for x in request.costCenters track by x.code" class="form-control custom-select"></select>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <label>Location / staff member</label>
                                <input type="text" ng-model="request.request.location" class="form-control">
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <label>JIRA Issue</label>
                                <input type="text" ng-model="request.request.jiraCase" class="form-control">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Tags</label>
                                <tags-input class="bootstrap" ng-model="request.request.tags" replace-spaces-with-dashes="false">
                                </tags-input>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-xs-right">
                <a ui-sref="requests.view({ id: request.request.id })" class="btn btn-danger">Cancel</a>
                <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
        </form>
    </div>
</div>

<script>
</script>