<div ng-controller="RequestListCtrl as requests">
  <div class="page-header m-b-0">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <span class="text-muted font-weight-light">Requests / </span>{{ requests.requestType}}s </h1>
      </div>
      <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right form-inline">
      
        <div class="form-group">
          <label for="requestType" class="text-muted">Request Type&nbsp;</label>
          <select name="requestType" class="form-control" ng-change="requests.loadRequests()" ng-options="type for type in requests.requestTypes"
            ng-model="requests.requestType">
          </select>
        </div>&nbsp;
        <a href ui-sref="requests.create-annual-equipment-request" class="btn btn-primary">
            <span class="btn-label-icon left ion-plus-round"></span>Create request</a>
      </div>
    </div>
  </div>
  <div class="page-wide-block p-a-4 bg-white font-size-15">
    <p>
      {{ requests.requestType }}s that you have submitted. Click the request description to view or
      edit the request. Drag and drop rows to change the priority of your requests.
    </p>
  </div>
  <hr class="page-wide-block m-t-0">
  <div class="row">
    <div class="col-md-12" ng-class="{ 'form-loading' : !requests.ready }">
      <p ng-show="requests.requests.length == 0">You have not submitted any requests yet.
        Create a request using the 'Create request' button above.</p>

      <div class="table-primary" ng-show="requests.requests.length > 0">
        <table class="table table-bordered bg-white" id="requests">
          <thead>
            <tr>
              <th style="width: 30%">Description</th>
              <th style="width: 10%">Quantity</th>
              <th style="width: 10%">Unit Cost</th>
              <th style="width: 25%">Department</th>
              <th style="width: 25%">Location / staff</th>
            </tr>
          </thead>
          <tbody ui-sortable="requests.sortableOptions" ng-model="requests.requests">
            <tr ng-repeat="r in requests.requests">
              <td>
                <a href ui-sref="requests.view({ id: r.id })">{{ r.description }}</a>
              </td>
              <td>{{ r.quantity }}</td>
              <td>{{ r.cost | currency:"$" }}</td>
              <td>{{ r.department.description }}</td>
              <td>{{ r.location }}</td>
            </tr>
          </tbody>
        </table>
        <div class="table-footer bg-white text-xs-right">
          <span class="text-muted">Total Request</span>&nbsp;&nbsp;
          <strong>{{ requests.getTotal() | currency:"$" }}</strong>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  </script>