<div ng-controller="RequestListCtrl as requests">
  <div class="page-header m-b-0">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <span class="text-muted font-weight-light">Requests / </span>Annual Equipment</h1>
      </div>
      <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right">
        <a href ui-sref="requests.create-annual-equipment-request" class="btn btn-primary">
          <span class="btn-label-icon left ion-plus-round"></span>Create a new request</a>
      </div>
    </div>
  </div>
  <div class="page-wide-block p-a-4 bg-white font-size-15">
    <p>
      Annual Equipment Requests that you have submitted for the current review cycle. Click the request description to view or edit the request.
    </p>
  </div>
  <hr class="page-wide-block m-t-0">
  <div class="row">
    <div class="col-md-12">
      <p ng-show="requests.requests.length == 0">You have not submitted any requests yet.
        <a href ui-sref="requests.create-annual-equipment-request">Create a request here</a>.</p>
      <div class="table-primary" ng-show="requests.requests.length > 0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Description</th>
              <th>Quantity</th>
              <th>Unit Cost</th>
              <th>Department</th>
              <th>Location / staff</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="r in requests.requests">
              <td>
                <a href ui-sref="requests.view({ id: r.id })">{{ r.description }}</a>
              </td>
              <td>{{ r.quantity }}</td>
              <td>{{ r.cost }}</td>
              <td>{{ r.department }}</td>
              <td>{{ r.location }}</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>

  <script type="text/javascript">
  </script>
</div>