<div ng-controller="RequestCtrl as request">
  <div class="alert alert-danger" ng-show="request.hasError == true">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Something went wrong</strong> There was an error. Please check the AWS CloudWatch logs.
  </div>

  <div class="alert alert-success" ng-show="request.showUpdatedAlert == true">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Request saved!</strong> The request has been updated.
  </div>

  <div class="page-header" ng-hide="request.hasError">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <span class="text-muted font-weight-light">
            <a href="#" ui-sref="requests.annual-equipment">Requests</a> / </span>View
        </h1>
      </div>
      <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right">
        <a href ui-sref="requests.edit({ id: request.request.id })" class="btn btn-block">
          <span class="btn-label-icon left ion-edit"></span>Edit this request</a>
      </div>
    </div>
  </div>

  <div class="row" ng-hide="request.hasError">
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-heading-controls" ng-show="request.request.jiraCase && request.request.jiraCase != ''">
            <a target="_blank" href="https://libcyber.atlassian.net/browse/{{ request.request.jiraCase }}" class="btn btn-xs btn-default btn-outline-colorless">
              <i class="fa fa-external-link"></i>&nbsp;Jira</a>
          </div>
          <span class="panel-title">Annual Equipment Request</span>
        </div>
        <div class="wizard panel-wizard" id="wizard-panel">
          <div class="wizard-wrapper">
            <ul class="wizard-steps" style="width: auto; left: 0px;">
              <li data-target="#wizard-panel-step1" class="active panel-success panel-body-colorful">
                <span class="wizard-step-number">1</span>
                <span class="wizard-step-complete">
                  <i class="fa fa-check"></i>
                </span>
                <span class="wizard-step-caption">
                  Under Review
                  <span class="wizard-step-description">Your request is being reviewed by Library leadership</span>
                </span>
              </li>
              <li data-target="#wizard-panel-step2">
                <span class="wizard-step-number">2</span>
                <span class="wizard-step-complete">
                  <i class="fa fa-check"></i>
                </span>
                <span class="wizard-step-caption">
                  Prioritized
                  <span class="wizard-step-description">Your request has been approved and prioritized</span>
                </span>
              </li>
              <li data-target="#wizard-panel-step3">
                <span class="wizard-step-number">3</span>
                <span class="wizard-step-complete">
                  <i class="fa fa-check"></i>
                </span>
                <span class="wizard-step-caption">
                  Ready for Purchase
                  <span class="wizard-step-description">Your request has been forwarded to purchasing</span>
                </span>
              </li>
            </ul>
          </div>
          <div class="wizard-content">
            <div class="wizard-pane active" id="wizard-panel-step1">
              <div class="col-md-12">
                <fieldset class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" ng-model="request.request.description" readonly>
                </fieldset>
              </div>
              <div class="col-md-3">
                <fieldset class="form-group">
                  <label>Quantity</label>
                  <input type="text" class="form-control" ng-model="request.request.quantity" readonly>
                </fieldset>
              </div>
              <div class="col-md-3">
                <label>Unit Cost</label>
                <div class="form-group input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" ng-model="request.request.cost" readonly>
                </div>
              </div>
              <div class="col-md-3">
                <fieldset class="form-group">
                  <label>Vendor</label>
                  <input type="text" class="form-control" ng-model="request.request.vendor" readonly>
                </fieldset>
              </div>
              <div class="col-md-3">
                <fieldset class="form-group">
                  <label>Link</label>
                  <input type="text" class="form-control" ng-model="request.request.link" readonly>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset class="form-group">
                  <label>Justification</label>
                  <div class="form-control" style="height: auto;" readonly>
                    {{ request.request.justification }}
                  </div>
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label>Department</label>
                  <input type="text" class="form-control" value="{{ request.request.department.description }}" readonly>
                </fieldset>
              </div>

              <div class="col-md-6">
                <fieldset class="form-group">
                  <label>Location</label>
                  <input type="text" class="form-control" ng-model="request.request.location" readonly>
                </fieldset>
              </div>

              <div class="col-md-12" ng-if="request.request.tags.length > 0">
                <fieldset class="form-group">
                  <label>Tags</label>
                  <br>
                  <span class="label label-primary tag" ng-repeat="tag in request.request.tags track by $index">{{ tag.text }}</span>
                </fieldset>
              </div>
            </div>

          </div>
          <div class="panel-footer text-muted text-right">
            Submitted by {{ request.request.createdBy.replace('@ucr.edu', '') }} {{ request.request.timestamp | humandate}}
          </div>
          <div class="wizard-pane" id="wizard-panel-step2"></div>
          <div class="wizard-pane" id="wizard-panel-step3"></div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading">
          <span class="panel-title">Comments</span>
        </div>

        <div class="widget-comments-item comment" ng-repeat="comment in request.request.comments track by $index">
          <img ng-src="{{ comment.avatar }}" alt="" class="widget-comments-avatar">
          <div class="widget-comments-header">
            <a href="#" title="">{{ comment.user }}</a> commented
          </div>
          <div class="widget-comments-text">
            {{ comment.text }}
          </div>
          <div class="widget-comments-footer">
            {{ comment.timestamp | humandate }}
            <div class="pull-right">
            </div>
          </div>
        </div>

        <form name="commentForm" class="widget-tree-comments-item" ng-submit="request.saveComment(commentForm.$valid)" novalidate>
          <img src="{{ main.user.picture }}" alt="" class="widget-tree-comments-avatar">
          <textarea rows="3" class="form-control widget-tree-comments-input" ng-model="request.comment.text" placeholder="Write your comment..." required></textarea>
          <button class="btn btn-primary btn-sm">Post</button>&nbsp;
        </form>

      </div>
    </div>
  </div>

</div>
</div>