<div ng-controller="RequestCtrl as request">
  <div class="alert alert-danger" ng-show="request.hasError == true">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Something went wrong</strong> There was an error. Please check the AWS CloudWatch logs.
  </div>

  <div class="alert alert-success" ng-show="request.showUpdatedAlert == true">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Request saved!</strong> The request has been updated.
  </div>

  <div class="page-header" ng-hide="request.hasError">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <span class="text-muted font-weight-light">
            <a href="#" ui-sref="requests.annual-equipment">Requests</a> / </span>View
        </h1>
      </div>
      <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right">
        <a href ui-sref="requests.edit({ id: request.request.id })" class="btn btn-block">
          <span class="btn-label-icon left ion-edit"></span>Edit this request</a>
      </div>
    </div>
  </div>

  <div class="row" ng-hide="request.hasError">
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="panel-title">Annual Equipment Request</span>
        </div>
        <div class="wizard panel-wizard" id="wizard-panel">
          <div class="wizard-wrapper">
            <ul class="wizard-steps" style="width: auto; left: 0px;">
              <li data-target="#wizard-panel-step1" class="completed">
                <span class="wizard-step-number">1</span>
                <span class="wizard-step-complete">
                  <i class="fa fa-check"></i>
                </span>
                <span class="wizard-step-caption">
                  Request Submitted
                </span>
              </li>
              <li data-target="#wizard-panel-step2" class="active">
                <span class="wizard-step-number">2</span>
                <span class="wizard-step-complete">
                  <i class="fa fa-check"></i>
                </span>
                <span class="wizard-step-caption">
                  Under Review
                  <span class="wizard-step-description">Your request is being reviewed by leadership</span>
                </span>
              </li>
              <li data-target="#wizard-panel-step3">
                <span class="wizard-step-number">3</span>
                <span class="wizard-step-complete">
                  <i class="fa fa-check"></i>
                </span>
                <span class="wizard-step-caption">
                  Prioritized
                  <span class="wizard-step-description">Your request has been approved and prioritized</span>
                </span>
              </li>
              <li data-target="#wizard-panel-step4">
                <span class="wizard-step-number">4</span>
                <span class="wizard-step-complete">
                  <i class="fa fa-check"></i>
                </span>
                <span class="wizard-step-caption">
                  Ready for Purchase
                  <span class="wizard-step-description">Your request has been forwarded to purchasing</span>
                </span>
              </li>
            </ul>
          </div>
          <div class="wizard-content">
            <div class="wizard-pane" id="wizard-panel-step1"></div>
            <div class="wizard-pane active" id="wizard-panel-step2">
              <div class="col-md-12">
                <fieldset class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" ng-model="request.request.description" readonly>
                </fieldset>
              </div>
              <div class="col-md-3">
                <fieldset class="form-group">
                  <label>Quantity</label>
                  <input type="text" class="form-control" ng-model="request.request.quantity" readonly>
                </fieldset>
              </div>
              <div class="col-md-3">
                <label>Unit Cost</label>
                <div class="form-group input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" ng-model="request.request.cost" readonly>
                </div>
              </div>
              <div class="col-md-3">
                <fieldset class="form-group">
                  <label>Vendor</label>
                  <input type="text" class="form-control" ng-model="request.request.vendor" readonly>
                </fieldset>
              </div>
              <div class="col-md-3">
                <fieldset class="form-group">
                  <label>Link</label>
                  <input type="text" class="form-control" ng-model="request.request.link" readonly>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset class="form-group">
                  <label>Justification</label>
                  <textarea class="form-control" rows="4" ng-model="request.request.justification" readonly></textarea>
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label>Department</label>
                  <input type="text" class="form-control" ng-model="request.request.department" readonly>
                </fieldset>
              </div>

              <div class="col-md-6">
                <fieldset class="form-group">
                  <label>Location</label>
                  <input type="text" class="form-control" ng-model="request.request.location" readonly>
                </fieldset>
              </div>
            </div>
          </div>
          <div class="wizard-pane" id="wizard-panel-step3"></div>
          <div class="wizard-pane" id="wizard-panel-step4"></div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="widget-timeline">

        <div class="widget-timeline-section font-weight-semibold">
          Request History
        </div>
        <div class="widget-timeline-item">
          <div class="widget-timeline-info">
            <div class="widget-timeline-icon">
              <i class="fa fa-check"></i>
            </div>
            <div class="widget-timeline-time">{{ '1519452981894' | humandate }}</div>
          </div>
          <div class="panel panel-info panel-body-colorful">
            <div class="panel">
              <div class="panel-body">
                <div class="widget-comments-item p-a-0">
                  <div class="widget-comments-header">
                    <a href="#" title="">Scott Metoyer</a> submmited the request
                  </div>
                  <div class="widget-comments-text">
                    Request created and added to the AUL prioritization list.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>